html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #E1D4C9;
    box-sizing: border-box;
}

.container {
    width: 1440px;
    margin: 0 auto; /* Center the container */
    background-color: #E1D4C9;
}

header {
    background-color: #E1D4C9;
    color: #403F3D;
    padding: 0px;
    box-sizing: border-box;
}
